@media only screen and (max-width: 800px) {
    .nav_option{
        display: none;
    }
    #hamburg{
        display: block;
        text-align: center;
    }
    #navbar{
        display: block;
    }
    #ham_option{
        text-align: center;
    }
    .respo_1{
        display: block;
    }
    .js_ham{
        display: block !important;
    }
    .rea_img:hover{
        position:inherit;
    }
    #form_kon textarea{
        width: auto;
        height: 150px;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    #form_kon #zalacznik{
        width: 240px;
    }
      
  }