*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-collapse: collapse;
    font-family:calibri;
    font-size: 18px;
    color:#2b2a2a;
}

@font-face {
    font-family: Twcent;
    src: url(fonty/TwCenClassMTStd-Regular.otf);
}

body{
    margin: 0;
    background-color: #2b2a2a;
    background-image: url('image.jpg');
    background-position: center;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.logo_link {
    margin:0 auto;
    width: 100%;
    max-width: 811px;
    display: flex;
}

#logo{
    border-right:#000000 1px solid;
    width: 100%;
}


#wrapper{
    min-height: 100px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 0px;
    
    padding-top: 0px;
    background-color: #C4C4C4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#main{
    padding: 20px;
    padding-top: 0px;
}


#navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  

#navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: block;
    margin:0 auto;
    transition: 0.2s;
  }
  #navbar a:hover {
    color:#2b2a2a !important;
    background-color: #f2f2f2;
  }

.nav_option span { 
    font-family: TWcent;
    font-size: 14px;
}
.nav_option{
    flex:1;
    width:20%;
    text-align: center;
    border-left:#C4C4C4 1px solid;
}
.nav_option:first-child{
    border: 0;
}


#hamburg{
    display: none;
}
.js_ham{
  display: none;
}

#ham_option{
    display: none;
}

#ham_option > table{
    margin:0 auto;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

@font-face {
    font-family: 'fontello';
    src: url('fontello/font/fontello.eot?45395097');
    src: url('fontello/font/fontello.eot?45395097#iefix') format('embedded-opentype'),
         url('fontello/font/fontello.woff?45395097') format('woff'),
         url('fontello/font/fontello.ttf?45395097') format('truetype'),
         url('fontello/font/fontello.svg?45395097#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color:#e2e2e2;
    transition: 0.2s;
  }
#hamburg > button {
    border:0;
    background-color: #333;
    padding: 3px;
    
    cursor: pointer;
  }
.demo-icon:hover {
    font-size: 30px;
  }
#ham_option td a{
  padding-left: 20px;
  padding-right: 20px;
}
.stopka{
  color:white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.respo_2{
  flex:1;
  padding: 10px;
  margin:auto;
}
.respo_1{
  display: flex;
}
.respo_2 img {
  width: 100%;
  border-radius: 3px;
  border:1px solid #333
}
.respo_2 p {
  margin: 0;
}
.center{
  text-align: center;
}

.cennik {
  margin:0 auto;
}
.cennik td {
  border:1px solid black;
}

.rea_img{
  transition: 0.5s;
  width: 98% !important;
  margin:0 auto;
}

.rea_img:hover{
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border:0;
  border-radius: 0;
  width: 100% !important;
}

.prod{
  padding: 20px;
  margin: 20px;
  background-color: #e2e2e2;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.marg{
 margin: 0;
}

.button_prod{
  margin-right: 30px;
}

.cena_prod{
  margin-top:10px !important;
  color: red;
  font-size: 25px;
  font-weight: bold;
}

#form_kon textarea{
  resize:none;
  width: 400px;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#form_kon td{
  padding: 5px 10px;
}
#form_kon input{
  margin-bottom: 5px;
  margin-top: 5px;
}
#form_kon tr td:first-child{
  vertical-align: top;
}

#form_kon tr{
  border-bottom: 1px dotted #2b2a2a;
  padding-top:10px;
}
#form_kon td p{
  padding-top: 8px;
}
#form_kon tr:last-child{
  border-bottom: 0;
  padding-top:10px;
}

.kontakt-icon{
  font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding: 10px;
    vertical-align: middle;
    transition: 0.2s;    
}
#ikony{
  margin:0 auto;
  height: 100%;
}
#ikony td{
  padding: 20px;
  text-align: center;
}

#ikony a{
  text-decoration: none;
}

#ikony i:hover{
  color:white;
  border-radius: 200px;
  background-color: #2b2a2a;
}

.form_log textarea{
  resize:none;
  width: 400px;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form_log td{
  padding: 5px 10px;
}
.form_log input{
  margin-bottom: 5px;
  margin-top: 5px;
}
.form_log tr td:first-child{
  vertical-align: top;
}

.form_log tr{
  border-bottom: 1px dotted #2b2a2a;
  padding-top:10px;
}
.form_log td p{
  padding-top: 8px;
}
.form_log tr:last-child{
  border-bottom: 0;
  padding-top:10px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 12px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.alert-iko{
  color:rgb(192, 0, 0);
  font-size: 80px;
  width: 24px !important;
    height: 24px !important;
}

.content{
  display: none;
}
.loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}
.loader>div{
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #dfdfdf;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  } 
}












